<div class="hero">
  <br />

  <div class="frosty col-xs-10 col-xs-offset-1 text-center">
    <br />
    <h1>Learn all that life has to offer</h1>
    <br />
    <h3>Our courses provide you the knowledge you need to succeed</h3>
    <br />
    <%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
    <br /><br />
  </div>
</div>
<br />
<div class="col-xs-10 col-xs-offset-1 features text-center">
  <div class="col-sm-4">
    <span class="glyphicon glyphicon-play-circle feature-icon"></span>
    <b>Video Lessons</b>
    <p>We'll walk you step by step through some of lifes most important lessons</p>
  </div>

  <div class="col-sm-4">
    <span class="glyphicon glyphicon-time feature-icon"></span>
    <b>No Rush</b>
    <p>Learn at your own pace, like they say, "Rome wasn't built in a day"</p>
  </div>

  <div class="col-sm-4">
    <span class="glyphicon glyphicon-sunglasses feature-icon"></span>
    <b>Improve Yourself</b>
    <p>Gain the confidence and skills you need to achieve your goals</p>
  </div>
</div>
